
**/.terraform/


**/*.tfstate
**/*.tfstate.*

#
**/*.tfvars
**/*.tfvars.json


**/*_override.tf
**/*_override.tf.json
**/.terraform.lock.hcl


**/go-api-on-eks/dist/
**/go-api-on-eks/bin/
**/*.exe
**/*.exe_with_manifest
**/*.dll
**/*.so
**/*.dylib


.DS_Store
Thumbs.db
